*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'TTNorms';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	color: #000;
	background-color: #F9F9FA;
	font-variant-ligatures: no-common-ligatures;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 78px;

}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header-line {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.header-line__left {
	padding: 7px 0;
	padding-left: 100px;
	position: relative;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.header-line.fixed {
	background-color: #fff;
}
.header-line.fixed .header-line__left {
	visibility: visible;
	opacity: 1;
}
.header-line__left .logo img {
	max-width: 180px;
}
.header-line__left::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1000px;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
	background-color: #1B2C41;
}
.header__wrap {
	display: flex;
	align-items: center;
}
.menu {
	display: flex;
	align-items: center;
}
.menu > li {
	margin-right: 25px;
}
.menu > li > a {
	padding: 30px 0;
	display: block;
	color: #000;
	font-weight: 500;
}
.menu > li > a:hover {
	color: #b1a27b;
}
.menu__haschild > a::after {
	position: relative;
	display: inline-block;
	content: " ";
	width: 7px;
	height: 5px;
	top: -1px;
	margin-left: 4px;
	background-image: url(../img/arrow_menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
}

.btn-search {
	margin-right: 32px;
	display: inline-block;
}
.list-social {
	display: flex;
	align-items: center;
}
.list-social a {
	margin-right: 11px;
	display: inline-block;
}
.contacts-header {
	position: absolute;
	right: 60px;
	top: 28px;
	display: flex;
	align-items: center;
}
.phone-main {
	font-weight: 500;
	letter-spacing: -0.01em;
	color: #000;
}
.phone-main:hover {
	color: #b1a27b;
}
.contacts-header .phone-main {
	margin-right: 16px;
}
.header .row > div {
	position: static;
}
.header__left {
	padding-right: 32px;
	padding-bottom: 43px;
	position: relative;
	z-index: 1;
}
.header__left::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1000px;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
	background-color: #1B2C41;
}
.logo {
	display: inline-block;
}
.logo img {
	max-width: 100%;
}
.header__left .logo {
	margin-top: -15px;
}
.logo-bottom {
	padding-top: 33px;
	margin-top: 12px;
	border-top: 1px solid rgba(196, 196, 196, 0.1);
	display: flex;
	align-items: center;
}
.logo-descr {
	font-size: 14px;
	line-height: 18px;
	max-width: 163px;
	position: relative;
	top: 20px;
	font-weight: 500;
	color: #B5B5B5;
}
.year {
	font-size: 100px;
	line-height: 100px;
	margin-right: 20px;
	text-transform: uppercase;
	color: #B1A27B;
	font-family: 'Bebas Neue';
	display: flex;
}
.year span {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #B1A27B;
	transform: rotate(-90deg);
	transform-origin: 138% 40%;
}

.image-billbord {
	height: 450px;
	margin-right: -10px;
}
.image-billbord img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.contacts,
.services,
.billbord {
	margin-left: calc((100% - 1320px)/2);
	padding: 0 15px;
}
.contacts .col-lg-4,
.services .col-lg-4,
.billbord .col-lg-4 {
	max-width: 440px;
}
.service-top__right,
.content-service,
.content-slide {
	max-width: calc((1320px + 435px)/2);
}
.billbord {
	padding: 0;
}
.image-slide {
	height: 260px;
	display: block;
}
.image-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.title-block {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #2F3658;
	font-family: 'Bebas Neue';
}
.title-big {
	font-size: 60px;
	line-height: 60px;
	font-weight: 500;
	border-bottom: 1px solid #DBCCA4;
	letter-spacing: -0.01em;
	color: #000000;
	display: inline;
}
.btn-main {
	height: 44px;
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #000000;
	padding: 0 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 2px;
	position: relative;
	z-index: 1;
}
.btn-main::before {
	position: absolute;
	display: block;
	content: " ";
	height: 100%;
	top: 0;
	right: 0;
	width: 0;
	left: auto;
	background-color: #C3B48D;
	z-index: -1;
	border-radius: 2px;
	transition: all 0.3s;
}
.btn-main:hover::before {
	width: calc(100% + 2px);
	left: -1px;
	right: -2px;
}
.btn-main:hover img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.btn-main:hover {
	color: #fff;
	border-color: #C3B48D;
}
.btn-main img {
	margin-left: 10px;
}
.content-slide .btn-main {
	padding: 0 10px;
	width: 100%;
}
.content-slide {
	padding-top: 45px;
	padding-left: 39px;
}
.text-billbord {
	padding-top: 35px;
	max-width: 460px;
}
.content-slide .title-block {
	margin-bottom: 15px;
}
.contacts__right,
.services__right,
.billbord__right {
	min-width: 0px;
}
.billbord__right {
	padding: 0;
}
.slider-billbord {
	margin-left: -15px;
	padding-bottom: 42px;
}
.slick-dots {
	bottom: 0;
	left: 0;
}
.slick-dots li {
	width: 5px;
	height: 5px;
	margin: 0 15px;
}
.slick-dots li button {
	width: 5px;
	height: 5px;
	background: #D7D7D7;
	border: none;
	padding: 0;
	transition: all 0.3s;
}
.slick-dots li button:before {
	display: none;
}
.slick-dots li.slick-active button {
	background: #DBCCA4;
	transform: scale(1.5);
}
.slick-dots li button:hover {
	background: #DBCCA4;
}
.slider-billbord .slick-dots {
	padding-left: 55px;
	text-align: left;
}
.slider__counter {
	top: 210px;
	left: calc((1320px + 90px)/2);;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.01em;
	color: #C4B48D;
	font-family: 'Bebas Neue';
	z-index: 10;
	display: flex;
	align-items: flex-end;
	position: absolute;
}
.slider__counter span {
	width: 98px;
	height: 98px;
	margin-left: 10px;
	font-size: 44px;
	line-height: 44px;
	letter-spacing: -0.01em;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DBCCA4;
	border-radius: 50%;
}
.title-section {
	font-size: 50px;
	line-height: 50px;
	font-weight: 500;
	letter-spacing: -0.01em;
	color: #000000;
}
.title-section a {
	color: #C3B48D;
	border-bottom: 1px solid #C3B48D;
}
.title-section sup {
	font-size: 24px;
	margin-left: 6px;
	font-family: 'Bebas Neue';
	color: #C4B48D;
	line-height: 0;
}
.about .title-section {
	padding-top: 55px;
	padding-bottom: 30px;
}
.about {
	line-height: 26px;
}
.about p {
	margin-bottom: 20px;
}
.image-about {
	height: 740px;
	margin-bottom: -235px;
	position: relative;
}
.image-about__title {
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.5em;
	font-family: 'Bebas Neue';
	bottom: 15px;
	left: 40px;
	color: #FFFFFF;
	position: absolute;
	z-index: 1;
}
.image-about::before {
	position: absolute;
	display: block;
	content: " ";
	background-color: #dbcca4;
	width: 17px;
	height: 168px;
	left: 113px;
	top: 100%;
	margin-top: -64px;
}
.image-about > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.link-page {
	font-size: 11px;
	line-height: 13px;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #000000;
	display: inline-flex;
	align-items: center;
}
.link-page img {
	margin-left: 15px;
	transition: all 0.3s;
}
.link-page:hover img {
	transform: translateX(10px);
}
.bottom-about {
	padding-top: 20px;
	margin-top: 40px;
	margin-right: -30px;
	border-top: 1px solid #E3E3E3;
}
.about-numbers {
	padding-top: 66px;
	padding-bottom: 85px;
	background-color: #1b2c41;
}
.number-value {
	font-size: 180px;
	line-height: 180px;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: #B1A27B;
	display: inline-flex;
	align-items: center;
}
.number-value span {
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #B1A27B;
	transform: rotate(-90deg);
	transform-origin: 81% 119%;
}
.item-number p {
	font-size: 15px;
	line-height: 19px;
	max-width: 163px;
	font-weight: 500;
	color: #B5B5B5;
}
.stars-about {
	font-size: 15px;
	line-height: 19px;
	color: #B5B5B5;
	font-weight: 500;
	position: absolute;
	top: 100%;
	margin-top: 30px;
	left: 175px;
	max-width: 259px;
}
.stars-about img {
	margin-bottom: 11px;
}
.top-title {
	margin-right: -15px;
	background-image: url(../img/logo_title.svg);
	background-repeat: repeat-x;
	background-position: center;
	background-color: #F0F0F2;
	height: 44px;
}
.sidebar-services {
	background-color: #f0f0f2;
}
.sidebar-services .title-block {
	padding: 28px 55px;
	border-bottom: 1px #e1e1e1 solid;
}
.tabs-services a {
	font-size: 18px;
	line-height: 20px;
	padding: 20px 50px;
	color: #3E3E3E;
	border-bottom: 1px solid #E1E1E1;
	font-weight: 500;
	display: flex;
}
.tabs-services .active a {
	color: #B1A27B;
	font-weight: 700;
}
.tabs-services a:hover {
	color: #B1A27B;
}
.tabs-services a span {
	font-size: 24px;
	color: #B1A27B;
	margin-right: 12px;
	font-weight: 400;
	font-family: 'Bebas Neue';
}
.sidebar-services__bottom {
	padding: 55px;
	padding-top: 90px;
	padding-right: 50px;
}
.sidebar-services__bottom p {
	font-size: 14px;
	line-height: 18px;
	color: #7E7E7E;
	margin-bottom: 24px;
}
.title-service {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 19px;
	font-weight: 500;
	letter-spacing: -0.01em;
}
.image-service {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	flex: none;
	position: relative;
	z-index: 1;
}
.image-service > img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.image-service::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 120px;
	border-radius: 50%;
	background-color: #f9f9fa;
	z-index: -1;
}
.logo-service {
	width: 98px;
	height: 98px;
	bottom: -11px;
	left: 32px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #dbcca4;
}
.logo-service img {
	max-width: 100%;
	max-height: 100%;
}
.content-service {
	padding-top: 55px;
	padding-left: 70px;
	display: flex;
}
.info-service {
	padding-right: 40px;
}
.text-big {
	font-size: 20px;
	line-height: 26px;
	color: #3E3E3E;
	font-weight: 500;
}
.text-main {
	line-height: 21px;
	color: #3E3E3E;
}
.text-main p,
.text-big p {
	margin-bottom: 20px;
}
.tab-container-services hr {
	border: none;
	color: #e3e3e3; 
	margin: 27px -15px;
	margin-left: -30px;
	margin-top: 40px;
	background-color: #e3e3e3;
	height: 1px; 
}
.title-small {
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.content-service_bottom {
	padding-top: 0px;
}
.item-service {
	min-height: 100%;
	width: 190px;
	margin-right: 20px;
	border: 1px solid #E1E1E1;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #3E3E3E;
	transition: all 0.3s;
}
.item-service:hover {
	background-color: #B1A27B;
	border-color: #B1A27B;
	color: #fff;
}
.item-service:hover .link-page {
	color: #fff;
}
.item-service:hover .item-service__title::before,
.item-service:hover .link-page img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.item-service__title {
	padding: 54px 35px;
	padding-right: 28px;
	padding-bottom: 23px;
	line-height: 18px;
	font-weight: 500;
	display: block;
	width: 100%;
	flex: 1;
	position: relative;
}
.item-service__title::before {
	position: absolute;
	display: block;
	content: " ";
	border: 0.8px solid #000;
	width: 24px;
	height: 24px;
	top: 19px;
	left: 40px;
	transition: all 0.3s;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}
.item-service .link-page {
	padding: 19px 35px;
	padding-right: 10px;
	border-top: 1px solid #E1E1E1;
	display: flex;
	width: 100%;
}
.slider-services .slick-track {
	display: flex !important;
}
.slider-services .slick-slide {
	height: inherit !important;
}
.slider-services {
	padding-top: 32px;
	margin-right: -15px;
	padding-left: 70px;
}
.slick-arrow {
	width: 42px;
	height: 42px;
	top: 50%;
	border-radius: 50%;
	background-color: #f9f9fa;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slick-arrow:hover {
	background-color: #ddd;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.controls-services .slick-arrow {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: none;
}
.controls-services {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.controls-services .slick-next {
	margin-left: 17px;
}
.tab-pane-services {
	display: none;
}
.tab-pane-services:nth-child(1) {
	display: block;
}
.consultation__title {
	font-size: 120px;
	line-height: 96px;
	max-width: 280px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: #B1A27B;
}
.consultation__left {
	padding-top: 93px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}
.consultation__left::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1000%;
	height: 100%;
	background-color: #1b2c41;
	top: 0;
	right: 0;
	z-index: -1;
}
.consultation__descr {
	max-width: 205px;
	line-height: 21px;
	color: #B5B5B5;
	font-weight: 500;
}
.consultation__bottom {
	font-size: 12px;
	line-height: 16px;
	padding-right: 95px;
	margin-top: 130px;
	font-weight: 500;
	padding-top: 30px;
	border-top: 1px solid rgba(196, 196, 196, 0.1);
	color: #6B6F79;
}
.consultation__righ {
	padding-top: 70px;
	padding-left: 90px;
}
.item-form textarea,
.item-form input {
	height: 45px;
	font-size: 16px;
	line-height: 21px;
	color: #000;
	font-family: 'TTNorms';
	font-weight: 500;
	border: none;
	border-bottom: 1px solid #2F3658;
	width: 100%;
	background-color: transparent;
}
.item-form textarea {
	height: 110px;
	resize: none;
}
.item-form__descr {
	font-size: 11px;
	line-height: 14px;
	color: #7E7E7E;
	margin-top: 1px;
}
.item-form {
	margin-bottom: 24px;
}
.consultation__righ .title-small {
	margin-bottom: 35px;
}
.btn-main_page {
	color: #fff;
	border-color: #B1A27B;
	background-color: #B1A27B;
}
.btn-main_page:hover {
	color: #000;
	border-color: #000;
	background-color: transparent;
}
.btn-main_page:hover img {
	filter: none;
}
.btn-main_page::before {
	display: none;
}
.btn-main_page img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.consultation .btn-main {
	width: 100%;
}
.info-consultation {
	font-size: 15px;
	line-height: 19px;
	padding-left: 33px;
	margin-left: 25px;
	position: relative;
}
.info-consultation p {
	margin-bottom: 18px;
	color: #7E7E7E;
}
.info-consultation .phone-main {
	margin-top: 10px;
	display: inline-block;
	font-size: 18px;
}
.info-consultation__hint {
	top: 4px;
	left: 0;
	position: absolute;
}
.services__right {
	position: relative;
	z-index: 1;
}
.services__right::before {
	position: absolute;
	display: block;
	content: " ";
	left: -15px;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
}
.contacts-block__flex {
	margin-top: auto;
	width: 100%;
	margin-bottom: 25px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.contacts-block {
	padding: 43px 53px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: 	flex-start;
	visibility: visible;
	background-color: #fff;
	color: #3E3E3E;
}
.contacts-block .title-block {
	margin-bottom: 21px;
}
.contacts-block__title {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 20px;
	font-weight: 500;
}
.contacts-block__time {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}
.contacts-block__descr {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 21px;
	color: #7E7E7E;
}
.contacts-block .phone-main {
	font-size: 20px;
	margin-top: 7px;
	display: inline-block;
}
.contacts-block__line {
	height: 1px;
	margin: 0 -53px;
	margin-bottom: 30px;
	width: calc(100% + 106px);
	background: #F3F3F3;
}
#map {
	height: 475px;
	margin-left: -30px;
	margin-right: -15px;
	background-color: #ddd;
}
#map [class*="ymaps-2"][class*="-ground-pane"] {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.copyright {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 25px;
	color: #7E7E7E;
}
.footer {
	padding-top: 50px;
	padding-bottom: 35px;
}
.footer__title {
	margin-bottom: 18px;
	line-height: 16px;
	font-weight: 500;
	color: #000;
}
a.footer__title {
	border-bottom: 1px solid transparent;
	display: inline-block;
}
a.footer__title:hover {
	border-color: #000;
}
.footer__nav {
	font-size: 15px;
	line-height: 17px;
}
.footer__nav li {
	margin-bottom: 10px;
}
.footer__nav a {
	color: #2F3658;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	border-color: #2F3658;
}
.footer__col {
	padding-left: 30px;
}
.footer__contacts {
	max-width: 355px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer .logo {
	margin-bottom: 27px;
}
.modal-dropdown {
	position: absolute;
	right: 0;
	left: 0;
	top: 78px;
	background-color: #fff;
	z-index: 100;
	border-top: 1px solid #EEEEEE;
}
.subdropdown-menu,
.modal-dropdown__right,
.modal-dropdown__left,
.modal-dropdown {
	height: calc(100vh - 80px);
}
.modal-dropdown__left {
	padding-right: 47px;
	position: relative;
}
.modal-dropdown__left::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1000px;
	top: -81px;
	bottom: 0px;
	right: 0;
	z-index: -1;
	background-color: #1B2C41;
}
.modal-dropdown__left .btn-main {
	width: 100%;
	border: 1px solid #494D5B;
	color: #FFFFFF;
}
.modal-dropdown__right .title-small {
	padding-left: 60px;
	padding-top: 25px;
	padding-bottom: 35px;
}
.modal-parent {
	padding-top: 33px;
	max-width: 420px;
	position: relative;
	border-right: 1px solid #EEEEEE;
}
.modal-list > li > a {
	font-size: 18px;
	line-height: 20px;
	padding: 20px 50px;
	color: #3E3E3E;
	border-bottom: 1px solid #E1E1E1;
	font-weight: 500;
	display: flex;
	position: relative;
}
.modal-list > .active > a {
	color: #B1A27B;
	font-weight: 700;
}
.modal-list > li > a:hover {
	color: #B1A27B;
}
.modal-list > li > a > span {
	font-size: 24px;
	color: #B1A27B;
	margin-right: 12px;
	font-weight: 400;
	font-family: 'Bebas Neue';
}
.subdropdown-menu::-webkit-scrollbar,
.modal-dropdown__right::-webkit-scrollbar {
	-webkit-appearance: none;
}
.subdropdown-menu::-webkit-scrollbar:vertical,
.modal-dropdown__right::-webkit-scrollbar:vertical {
	width: 0px;
}
.subdropdown-menu::-webkit-scrollbar:horizontal,
.modal-dropdown__right::-webkit-scrollbar:horizontal {
	height: 0px;
}
.subdropdown-menu::-webkit-scrollbar-thumb,
.modal-dropdown__right::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 10px;
}
.subdropdown-menu::-webkit-scrollbar-track,
.modal-dropdown__right::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}
.modal-dropdown__right {
	overflow: auto;
}
.modal-parent__bottom {
	padding: 55px;
	padding-top: 90px;
	padding-right: 50px;
}
.modal-parent__bottom p {
	font-size: 14px;
	line-height: 18px;
	color: #7E7E7E;
	margin-bottom: 24px;
}
.subdropdown-menu {
	width: 440px;
	padding-left: 30px;
	padding-top: 80px;
	font-size: 15px;
	line-height: 18px;
	position: absolute;
	top: 0;
	left: 100%;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
}
.subdropdown-menu li {
	margin-bottom: 14px;
	padding-left: 20px;
	position: relative;
}
.subdropdown-menu li::before {
	content: "•";
	top: -1px;
	left: 4px;
	transition: all 0.3s;
	position: absolute;
}
.subdropdown-menu li a {
	color: #3E3E3E;
	border-bottom: 1px solid transparent;
}
.subdropdown-menu li a:hover {
	color: #B1A27B;
	text-shadow: 0 0 1px #B1A27B;
	border-color: #B1A27B;
}
.subdropdown-menu li:hover {
	color: #B1A27B;
}
.modal-list > li:hover .subdropdown-menu {
	visibility: visible;
	opacity: 1;
}
.modal-list__haschild > a::after {
	position: absolute;
	display: inline-block;
	content: " ";
	width: 7px;
	height: 5px;
	top: 0;
	bottom: 0;
	right: 33px;
	margin: auto;
	background-image: url(../img/arrow_menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(-90deg);
	transition: all 0.3s;
	background-size: 100% 100%;
}
.menu .modal-dropdown {
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
}
.menu__haschild:hover  .modal-dropdown {
	visibility: visible;
	opacity: 1;
}
#callback {
	display: none;
}
.col__callback {
	padding-left: 75px;
	padding-bottom: 20px;
}
.col__callback .title-small {
	padding-top: 25px;
}
.modal-dropdown__left .logo {
	margin-top: -94px;
}
.modal-dropdown__left .logo-bottom {
	margin-bottom: 45px;
}
.modal-dropdown__close {
	font-size: 22px;
	color: #000;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 20px;
}
.btn-main_back img {
	margin-right: 10px;
	transform: rotate(180deg);
}
.thanks-callback {
	padding-left: 50px;
	padding-top: 45px;
	padding-bottom: 40px;
	display: none;
}
.thanks-callback > img {
	margin-left: 20px;
	margin-bottom: 35px;
}
.thanks-callback .title-small {
	padding-bottom: 20px;
	padding-left: 0;
}
.thanks-callback p {
	margin-bottom: 30px;
	max-width: 519px;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height: 30px;
	padding-top: 7px;
	border-radius: 50%;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 13px;
	height: 1.5px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 9px;
	width: 13px;
	height: 1.5px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 9px;
	width: 13px;
	height: 1.5px;
	display: block;
	margin: 0 auto;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}

.btn_nav .sandwich.active .sw-topper {
	top: 8px;
	transform: rotate(45deg);
}
.btn_nav .sandwich.active .sw-bottom {
	opacity: 0;
}
.btn_nav .sandwich.active .sw-footer {
	top: 6px;
	transform: rotate(-45deg); 
}
.btn_nav_menu .sandwich.active .sw-topper {
	width: 24px;
}
.footer__title i {
	display: none;
}
.btn-tab {
	display: none;
}
.contacts-header__phones {
	display: flex;
}
.billbord-slider {
	position: relative;
}
.billbord-slider .container {
	position: relative;
}
.slider__counter {
	top: -50px;
	right: 0;
	left: auto;
}
.slider-billbord .slick-dots {
	padding-left: 480px;
	bottom: 70px;
}
.slider-billbord {
	padding-bottom: 0;
}
.menu > li:hover .menu-dropdown {
	opacity: 1;
	visibility: visible;
}
.menu-dropdown {
	width: 308px;
	position: absolute;
	top: 100%;
	left: -20px;
	background-color: #fff;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
	transition: all 0.1s;
	opacity: 0;
	visibility: hidden;
}
.menu-dropdown::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 100%;
	left: 45px;
	border: 10px solid transparent;
	border-bottom: 12px solid #fff;
}
.menu-dropdown li a {
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #3E3E3E;
	padding: 17px 28px;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #EAEAEA;
}
.menu-dropdown li a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 5px;
	height: 8px;
	top: 0;
	right: 35px;
	bottom: 0;
	margin: auto;
	background-image: url(../img/arrow_menu2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.menu__about {
	position: relative;
}
.menu-dropdown li a:hover {
	color: #B1A27B;
	text-shadow: 0 0 1px #B1A27B;
}
.btn_nav_catalog .sandwich {
	background-color: #b1a27b;
}
.btn_nav_menu .sandwich span {
	width: 16px;
	margin: 0;
	background-color: #b1a27b;
}
.btn_nav_menu .sandwich .sw-footer {
	top: 10px;
	width: 24px;
}
.btn_nav_menu .sandwich {
	align-items: flex-start;
}
.btn_nav_menu {
	margin-left: 20px;
}
.phone-mobile {
	display: none;
}
.btn_top {
	display: none;
}
.mobile-title-service {
	display: none;
}
.modal-dropdown .title-small img {
	display: none;
}
.breadcrumbs {
	padding-top: 30px;
	padding-left: 80px;
	padding-bottom: 20px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	display: flex;
	color: #B5B5B5;
	white-space: nowrap;
}
.breadcrumbs a {
	color: #2F3658;
}
.breadcrumbs li::after {
	content: "\\";
	color: #2F3658;
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.header .top-title {
	margin-left: -30px;	
	margin-right: -720px;
}
.wrapper_page {
	padding-top: 120px;
}
.header_page .header__left {
	text-align: center;
	padding-bottom: 0;
}
.header_page .logo {
	max-width: 240px;
}
.title-page {
	font-size: 60px;
	line-height: 60px;
	padding-left: 80px;
	padding-bottom: 35px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.service-unit {
	display: flex;
	color: #3E3E3E;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background-color: #fff;
}
.service-unit__image {
	display: block;
	width: 100%;
	margin-top: -23px;
	padding-left: 30px;
	position: relative;
	height: 200px;
}
.service-unit__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.service-unit__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 50px;
	height: 2px;
	top: 0;
	right: 0;
	background: #B1A27B;
	z-index: 1;
}
.service-unit__image::after {
	position: absolute;
	display: block;
	content: " ";
	height: 50px;
	width: 2px;
	top: 0;
	right: 0;
	background: #B1A27B;
	z-index: 1;
}
.service-unit__content {
	padding: 24px 30px;
	flex: 1;
}
.service-unit__title {
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	display: flex;
}
.service-unit__title span {
	font-size: 24px;
	line-height: 24px;
	margin-right: 6px;
	color: #B1A27B;
	font-family: 'Bebas Neue';
}
.service-unit__btn {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.02em;
	padding: 0 31px;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #E1E1E1;
	height: 63px;
	width: 100%;
	background-color: #f3f3f4;
	transition: all 0.3s;
}
.service-unit__btn img {
	transition: all 0.3s;
}
.service-unit:hover {
	background-color: #1b2c41;
	color: #fff;
}
.service-unit:hover .service-unit__btn {
	background-color: #b1a27b;
	border-color: #b1a27b;
	color: #fff;
}
.service-unit:hover .service-unit__btn img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.row_serv > div {
	margin-bottom: 54px;
}
.services-page .title-page {
	padding-bottom: 60px;
}
.services-page {
	background-image: url(../img/bg_serv.svg);
	background-repeat: no-repeat;
	background-position: right 80px center;
}
.header-top-line {
	overflow: hidden;
}
.service-top__image {
	height: 465px;
	width: 100%;
	display: block;
}
.service-top__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.service-top {
	line-height: 21px;
	display: flex;
	background-image: url(../img/bg_serv.svg);
	background-repeat: no-repeat;
	background-position: left 90% bottom -250px;
	background-size: 545px auto;
	position: relative;
}
.service-top__left {
	width: calc((100% - 469px)/2);
	flex: none;
}
.service-top__right .breadcrumbs {
	padding-left: 0;
}
.service-top__right {
	padding-left: 84px;
}
.service-top__title {
	padding-bottom: 30px;
	max-width: 400px;
}
.service-top .btn-main {
	margin-top: 60px;
}
.service-top .stars-about {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	position: absolute;
	top: 0;
	right: 60px;
	left: auto;
}
.sidebar-service {
	background-color: #1B2C41;
	color: #fff;
}
.sidebar-service .title-block {
	color: #B5B5B5;
}
.sidebar-service__bottom,
.sidebar-service__middle,
.sidebar-service__top {
	padding: 36px 50px;
	padding-right: 60px;
	border-bottom: 1px solid #35475C;
}
.sidebar-service__middle {
	padding-top: 150px;
}
.sidebar-service__middle .item-number {
	margin-bottom: 30px;
}
.sidebar-service .phone-main {
	margin-top: 7px;
	display: inline-block;
	color: #fff;
}
.sidebar-service .contacts-block__flex {
	margin-top: 30px;
	max-width: 260px;
}
.sidebar-service__descr {
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
	color: #B5B5B5;
}
.sidebar-service .list-social a img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.sidebar-service__top ul {
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.01em;
}
.sidebar-service__top ul a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.sidebar-service__top ul li {
	margin-bottom: 20px;
	position: relative;
	padding-left: 25px;
}
.sidebar-service__top ul li::before {
	content: "•";
	top: 2px;
	left: 10px;
	position: absolute;
}
.sidebar-service__top ul a:hover,
.sidebar-service__top ul li.active a,
.sidebar-service__top ul li.active {
	color: #B1A27B;
}
.sidebar-service__top ul a:hover,
.sidebar-service__top ul li.active a {
	border-color: #B1A27B;
}
.sidebar-service__top .title-block {
	padding-bottom: 23px;
}
.service-content h3 {
	font-size: 22px;
	line-height: 29px;
	margin-bottom: 20px;
	font-weight: 500;
}
.service-content {
	font-size: 17px;
	line-height: 24px;
	padding-top: 35px;
	padding-left: 65px;
	color: #3E3E3E;
	position: relative;
	z-index: 1;
}
.service-content::before {
	position: absolute;
	display: block;
	content: " ";
	width: calc((100vw + 452px)/2);
	height: 100%;
	top: 0;
	left: -15px;
	pointer-events: none;
	background-color: #fff;
	z-index: -1;
}
.service-content ul {
	margin-bottom: 20px;
}
.service-content li {
	padding-left: 25px;
	position: relative;
}
.service-content li::before {
	content: "•";
	top: 2px;
	left: 10px;
	position: absolute;
}
.service-content p {
	margin-bottom: 20px;
}
.service-content strong {
	font-weight: 500;
}
.service-content blockquote {
	padding: 25px 125px;
	padding-right: 140px;
	margin: 35px 0;
	background-color: #f1efea;
	position: relative;
}
.service-content blockquote p:last-child {
	margin-bottom: 0;
}
.blockquote-info {
	top: 32px;
	left: 73px;
	position: absolute;
}
.blockquote-arrow {
	right: 62px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 21px;
	position: absolute;
}
.service-content blockquote.blockquote_page {
	border: 1px solid #B1A27B;
	background-color: transparent;
}
.services-recomendation {
	padding-top: 62px;
}
.help-block {
	font-size: 15px;
	line-height: 17px;
	margin-top: -23px;
	color: #EEEEEE;
	font-weight: 500;
	min-height: calc(100% + 23px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #b1a27b;
	background-image: url(../img/help.svg);
	background-repeat: no-repeat;
	background-position: right 64px top 49px;
	color: #fff;
}
.help-block__top {
	padding: 50px 106px;
	padding-bottom: 35px;
	width: 100%;
}
.help-block__title {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 12px;
	letter-spacing: 0.01em;
	color: #fff;
	font-family: 'Bebas Neue';
}
.help-block__btn {
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 23px 106px;
	border-top: 1px solid #BFB290;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	width: 100%;
}
.help-block__btn img {
	filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.btn-service {
	display: none;
}
.sidebar-about {
	background-color: #fff;
	margin-left: calc((100vw - 1320px)/2);
}
.nav-about a {
	font-size: 18px;
	line-height: 20px;
	padding: 22px 58px;
	border-bottom: 1px solid #F3F3F3;
	color: #3E3E3E;
	font-weight: 500;
	display: flex;
}
.nav-about a span {
	font-size: 24px;
	line-height: 24px;
	margin-right: 10px;
	color: #B1A27B;
	font-family: 'Bebas Neue';
}
.sidebar-about .title-block {
	padding: 30px 58px;
}
.nav-about a:hover,
.nav-about .active a {
	background-color: #F0F0F2;
}
.sidebar-about .sidebar-services__bottom {
	padding-top: 65px;
}
.list-main {
	padding-left: 30px;
	font-weight: 500;
}
.list-main li {
	margin-bottom: 20px;
	position: relative;
	padding-left: 25px;
}
.list-main li::before {
	content: "•";
	top: 2px;
	left: 10px;
	position: absolute;
}
.about-page .service-top__image {
	height: 255px;
}
.about-page .service-top {
	background-position: left 90% top 115px;
}
.about-page .service-top__right p {
	margin-bottom: 20px;
}
.about-page .image-about {
	margin-top: -115px;
	height: 315px;
	margin-bottom: 0;
}
.sertificats {
	padding-top: 37px;
	padding-bottom: 50px;
	background-color: #f0f0f2;
}
.item-sertificat {
	padding: 11px;
	margin: 0 7px;
	height: 343px;
	background-color: #E4E4E8;
	display: block;
}
.item-sertificat img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-sertificats {
	padding-top: 40px;
	padding-bottom: 39px;
}
.slider-sertificats .slick-arrow {
	top: -25px;
	right: 0;
	left: auto;
	bottom: auto;
	transform: none;
}
.slider-sertificats .slick-prev {
	right: 60px;
}
.title-simple {
	font-size: 22px;
	line-height: 29px;
	margin-bottom: 35px;
	font-weight: 500;
	color: #3E3E3E;
}
.item-client {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 30px;
	display: flex;
	color: #3E3E3E;
}
.item-client__image {
	width: 276px;
	height: 177px;
	margin-right: 40px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	border: 1px solid #D7D7D8;
}
.item-client__image img {
	max-width: 100%;
	max-height: 100%;
	transition: all 0.3s;
	filter: grayscale(100%);
}
.item-client__title {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 13px;
	font-weight: 500;
}
.item-client__descr {
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 13px;
	font-weight: 500;
	color: #B1A27B;
}
.item-client__content {
	flex: 1;
}
.item-client:hover .item-client__image {
	border-color: #2F3658;
}
.item-client:hover .item-client__image img {
	filter: grayscale(0);
}
.bottom-clients {
	text-align: center;
}
.clients-main .sidebar-service {
	min-height: 100%;
}
.clients-main .service-content {
	padding-bottom: 63px;
}
.bottom-clients .btn-main {
	min-width: 276px;
}
.sticky-sidebar .sidebar-service__middle {
	top: -60px;
	margin-bottom: -40px;
	padding-top: 0;
	position: relative;
}
.sticky-sidebar {
	position: sticky;
	top: 120px;
}
.sticky-sidebar .sidebar-service__bottom {
	position: relative;
	border: none;
	padding-top: 0;
}
.contacts_page #map {
	height: 555px;
}
.mail-main {
	padding-bottom: 3px;
	font-weight: 500;
	line-height: 21px;
	color: #B1A27B;
	border-bottom: 1px solid #B1A27B;
	display: inline-block;
}
.min-descr {
	font-size: 12px;
	line-height: 16px;
	margin-top: 6px;
	color: #7E7E7E;
}
.service-unit_sertificat .service-unit__btn::after {
	position: relative;
	display: block;
	content: " ";
	width: 89px;
	height: 0.7px;
	margin-left: auto;
	background-color: #D7D7D7;
}
.service-unit_sertificat .service-unit__btn img {
	margin-right: 11px;
}
.service-unit_sertificat .service-unit__image img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);	
	object-position: top;
}
.pager {
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-number {
	width: 26px;
	height: 28px;
	margin: 0 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration-line: underline;
color: #1B2C41;
	font-weight: 500;
}
.page-number.current {
	background-color: #b1a27b;
	color: #fff;
	text-decoration: none;
}
.sertificats-page {
	padding-bottom: 45px;
	    background-image: url(../img/bg_serv.svg);
    background-repeat: no-repeat;
    background-position: right 60px center;
}
.page-arrow {
	font-weight: 500;
font-size: 11px;
line-height: 13px;
letter-spacing: 0.02em;
text-transform: uppercase;
cursor: pointer;
display: inline-flex;
align-items: center;
justify-content: center;
color: #B1A27B;
}
.page-arrow_next img {
	margin-left: 8px;
}
.page-arrow_prev img {
	margin-right: 8px;
}
.page-arrow::after,
.page-arrow::before {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	width: 89px;
	background-color: #D7D7D7;
}
.page-arrow_prev::after {
	margin-left: 8px;
}
.page-arrow_next::before {
	margin-right: 8px;
}
.sertificats-page .row_serv {
	margin-top: 30px;
}
.career .image-about {
	margin-top: -538px;
	margin-left: 40px;
	height: 740px;
}
.career-text {
	padding-top: 20px;
	padding-right: 500px;
}
.career-text__descr {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	color: #7E7E7E;
}
.career .service-top__right {
	color: #3E3E3E;
}
.vacancies {
	padding-top: 70px;
}
.item-vacancy {
	padding: 30px 0;
	padding-right: 260px;
	min-height: 103px;
	position: relative;
	border-bottom: 1px solid #E3E3E3;
	color: #3E3E3E;
}
.item-vacancy__head {
font-size: 20px;
line-height: 24px;
	font-weight: 500;
color: #3E3E3E;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	transition: all 0.3s;
}
.item-vacancy.active .item-vacancy__head,
.item-vacancy__head:hover {
	color: #1B2C41;
}
.item-vacancy.active .item-vacancy__head img {
	transform: rotate(180deg);
}
.item-vacancy__head img {
	margin-left: 15px;
	transition: all 0.3s;
}
.item-vacancy .btn-main {
	min-width: 244px;
	bottom: 30px;
	right: 0;
	position: absolute;
}
.vacancies .title-small {
	padding-top: 30px;
}
.title-min {
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
}
.item-vacancy li {
	line-height: 21px;
	margin-bottom: 16px;
	padding-top: 2px;
	padding-left: 33px;
	position: relative;
}
.item-vacancy li span {
	font-size: 24px;
line-height: 24px;
color: #B1A27B;
font-family: 'Bebas Neue';
	position: absolute;
	top: 0;
	left: 0;
}
.item-vacancy .title-min {
	padding-bottom: 20px;
}
.item-vacancy ul {
	padding-bottom: 15px;
}
.item-vacancy__content {
	padding-top: 30px;
	display: none;
}
.service-unit__hoverdate,
.service-unit__date {
	top: 14px;
	right: 14px;
	font-weight: 700;
font-size: 12px;
line-height: 12px;
font-family: 'Bebas Neue';
letter-spacing: 0.5em;
text-transform: uppercase;
color: #B1A27B;
	position: absolute;
	transition: all 0.3s;
}
.service-unit__hoverdate {
	left: 51px;
	right: auto;
	opacity: 0;
	color: #1B2C41;
}
.service-unit:hover .service-unit__date {
	opacity: 0;
}
.service-unit:hover .service-unit__hoverdate {
	opacity: 1;
}
.article-block {
	line-height: 21px;
	padding: 40px 0;
	padding-left: 80px;
	margin-top: 40px;
	color: #3E3E3E;
	background-color: #fff;
}
.article-block .title-page {
	margin-bottom: 50px;
	padding: 0;
	color: 	#000;
}
.article-block p {
	margin-bottom: 20px;
}
.article-block ul li {
	font-weight: 500;
	margin-bottom: 20px;
	position: relative;
	padding-left: 25px;
}
.article-block ul li::before {
	content: "•";
	top: 2px;
	left: 10px;
	position: absolute;
}
.image-article {
	margin-top: -80px;
	margin-bottom: 40px;
	position: relative;
}
.image-article img {
	max-width: 100%;
	height: auto;
}
.image-article::before {
	position: absolute;
	display: block;
	content: " ";
	width: 50px;
	height: 2px;
	top: 0;
	right: 0;
	background: #B1A27B;
	z-index: 1;
}
.image-article::after {
	position: absolute;
	display: block;
	content: " ";
	height: 50px;
	width: 2px;
	top: 0;
	right: 0;
	background: #B1A27B;
	z-index: 1;
}
.article-block .title-small {
	max-width: 310px;
	margin-bottom: 20px;
	color: #000;
}
.article-block form .btn-main {
	width: 100%;
}
.article-block form {
	padding-right: 34px;
}
.article-block p a {
	color: #1B7DB7;
	border-bottom: 1px solid #1B7DB7;
}
.article-block p a:hover {
	border-color: transparent;
}
.article {
	padding-bottom: 80px;
	    background-image: url(../img/bg_serv.svg);
    background-repeat: no-repeat;
    background-position: right 60px top 162px;
}
.slider-recomendation {
	padding-top: 40px;
	padding-bottom: 39px;
	margin: 0 -15px;
}
.slider-recomendation .slick-arrow {
	top: -25px;
	right: 15px;
	left: auto;
	bottom: auto;
	transform: none;
}
.slider-recomendation .slick-prev {
	right: 75px;
}
.slider-recomendation .service-unit {
	margin: 0 15px;
}
.slider-recomendation .slick-track {
    display: flex !important;
}
.slider-recomendation .slick-slide {
	padding-top: 23px;
    height: inherit !important;
}
.recomendation {
	padding-top: 37px;
	padding-bottom: 40px;
	background-color: #F0F0F2;
}