/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    .contacts-header {
        right: 20px;
    }
    .services-page {
        background-position: right center;
    }
}
@media only screen and (max-width : 1330px) {
    .menu > li {
        margin-right: 10px;
    }
    .contacts-header {
        right: 10px;
    }
    body {
        font-size: 15px;
    }
    .contacts, 
    .services, 
    .billbord {
        margin-left: calc((100% - 1185px)/2);
    }
    .sidebar-about {
        margin-left: calc((100vw - 1185px)/2);
    }
    .service-top__right,
    .content-service,
    .content-slide {
        max-width: calc((1185px + 385px)/2);
    }
    .content-slide {
        padding-left: 30px;
    }
    .title-big {
        font-size: 53px;
        line-height: 57px;
    }
    .slider-billbord .slick-dots {
        padding-left: 18px;
    }
    .slider__counter {
        left: calc((1185px + 90px)/2);
    }
    .content-service {
        padding-left: 0;
    }
    .slider-services {
        padding-left: 0;
    }
    .sidebar-services__bottom {
        padding-top: 50px;
    }
    .consultation__righ {
        padding-left: 20px;
    }
    .contacts-block {
        padding: 43px 35px;
    }
    .contacts-block__title {
        font-size: 18px;
    }
    .slider-billbord .slick-dots {
        padding-left: 330px;
        bottom: 30px;
    }
    .service-top__left {
        width: calc((100% - 419px)/2);
    }
    .item-sertificat {
        height: 298px;
    }
    .service-content::before {
        width: calc((100vw + 415px)/2);
    }
    .contacts-block__line  {
        margin: 0 -35px;
        margin-bottom: 30px;
        width: calc(100% + 70px);
    }
    .contacts .col-lg-4, .services .col-lg-4, .billbord .col-lg-4 {
        max-width: 398px;
    }
    .career-text {
        padding-right: 460px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .contacts, 
    .services, 
    .billbord {
        margin-left: calc((100% - 920px)/2);
    }
    .sidebar-about {
        margin-left: calc((100vw - 920px)/2);
    }
    .contacts .col-lg-4, .services .col-lg-4, .billbord .col-lg-4 {
       max-width: 305px;
   }
   .modal-dropdown__left,
   .header__left {
    padding-right: 20px;
}
.year {
    font-size: 84px;
}
.btn-search {
    margin-right: 15px;
}
body {
    font-size: 14px;
}
.image-slide {
    height: 241px;
}
.title-section {
    font-size: 43px;
    line-height: 46px;
}
.title-section sup {
    font-size: 20px;
}
.title-big {
    font-size: 41px;
    line-height: 47px;
}
.service-top__right,
.content-service, 
.content-slide {
    max-width: calc((920px + 305px)/2);
}
.slider__counter {
    left: calc((920px + 90px)/2);
}
.image-billbord {
    height: 360px;
}
.number-value {
    font-size: 154px;
    line-height: 156px;
}
.tabs-services a {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 15px;
}
.sidebar-services__bottom {
    padding: 30px;
}
.title-service {
    font-size: 42px;
    line-height: 44px;
}
.text-big {
    font-size: 16px;
    line-height: 22px;
}
.content-service {
    padding-top: 25px;
}
.tab-container-services hr {
   margin-top: 20px;
   margin-bottom: 10px;
}
.consultation__title {
    font-size: 97px;
    line-height: 86px;
}
.contacts-block__time {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
}
.contacts-block {
    padding: 43px 13px;
}
.footer__contacts {
    font-size: 12px;
}
.header-line__left {
    padding-left: 38px;
}
.modal-parent {
    padding-top: 0px;
    max-width: 360px;
}
.modal-list > li > a {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 15px;
    padding-right: 40px;
}
.modal-list__haschild > a::after {
    right: 15px;
}
.subdropdown-menu {
    width: 260px;
    padding-left: 15px;
}
.col__callback {
    padding-left: 20px;
}
.modal-dropdown__right .title-small {
    padding-left: 0;
}
.modal-dropdown__right .info-consultation {
    margin-left: 0;
}
.contacts-header__phones  {
    display: block;
}
.contacts-header {
    top: 21px;
}
.service-top__left {
    width: calc((100% - 336px)/2);
}
.service-top__right {
    padding-left: 30px;
}
.service-top .stars-about {
    right: 15px;
}
.sidebar-service__bottom, .sidebar-service__middle, .sidebar-service__top {
    padding: 35px 20px;
}
.sidebar-service__top ul {
    font-size: 16px;
    line-height: 18px;
}
.service-content {
    padding-left: 15px;
}
.service-content h3 {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 15px;
}
.service-content p {
    margin-bottom: 15px;
}
.service-content blockquote {
    padding: 25px 50px;
    padding-right: 35px;
    margin: 25px 0;
}
.blockquote-info {
    left: 10px;
}
.blockquote-arrow {
    right: 10px;
}
.service-content {
    font-size: 15px;
    line-height: 21px;
}
.service-unit__content {
    padding: 24px 20px;
}
.service-unit__title {
    font-size: 16px;
    line-height: 19px;
}
.help-block__title {
    font-size: 34px;
    line-height: 40px;
}
.help-block__top {
    padding: 50px 25px;
    padding-bottom: 35px;
}
.nav-about a {
    padding: 22px 15px;
}
.sidebar-about .title-block {
    padding: 30px 15px;
}
.item-sertificat {
    height: 228px;
}
.service-content::before {
    width: calc((100vw + 335px)/2);
}
.item-client__image {
    margin-right: 20px;
}
.contacts-block__line {
    margin: 0 -13px;
    margin-bottom: 30px;
    width: calc(100% + 26px);
}
.career-text {
    padding-right: 335px;
}
.career .image-about {
    margin-top: -566px;
    margin-left: 40px;
    height: 615px;
}
.breadcrumbs {
    letter-spacing: 0.3em;
    }
    .article-block {
        padding-left: 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .modal-dropdown__left, .header__left {
       display: none;
   }
   .contacts-header {
       position: relative;
       top: 0;
       right: 0;
       display: none;
   }
   .header-line__left {
       padding-left: 0;
       text-align: center;
       visibility: visible;
       padding: 0;
       opacity: 1;
   }
   .header-line__left::before {
       display: none;
   }
   .image-billbord {
    height: 205px;
    margin-top: 0;
}
.header__wrap .menu {
   display: none;
}
.btn-search {
   position: absolute;
   top: 21px;
   right: 0;
}
.header-line {
   padding: 7px 0;
}
.header-line__left .logo img {
    max-width: 135px;
}
.contacts, .services, .billbord {
    margin-left: 0;
}
.wrapper {
    padding-top: 61px;
    overflow: hidden;
}
.btn_nav {
    display: inline-block;
}
.header-line__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-service, .content-slide {
    max-width: 100%;
}
.content-slide {
    padding: 0 15px;
    padding-top: 40px;
}
.slider-billbord {
   margin: 0 -15px;
}
.slider__counter {
    top: 163px;
    font-size: 24px;
    line-height: 24px;
    right: 25px;
    left: auto;
}
.slider__counter span {
    width: 69px;
    height: 69px;
    font-size: 31px;
    line-height: 31px;
}
.container {
    max-width: 100%;
}
.text-billbord {
    margin-bottom: 30px;
}
.content-slide .btn-main {
    padding: 0 36px;
    justify-content: space-between;
}
.bottom-about {
    margin-right: 0;
    padding-bottom: 20px;
}
.image-about {
    margin-left: 250px;
    margin-bottom: -433px;
}
.contacts .col-lg-4, .services .col-lg-4, .billbord .col-lg-4 {
    max-width: 100%;
}
.services {
    padding-bottom: 40px;
}
.consultation__bottom {
    margin-top: 20px;
    padding-top: 10px;
}
.consultation__descr {
    max-width: 100%;
}
.consultation__title br {
    display: none;
}
.consultation__title {
    max-width: 100%;
}
.consultation__left {
    margin: 0 -15px;
    padding: 30px 15px;
    background-color: #1b2c41;
}
.consultation__left::before {
    display: none;
}
.consultation__righ {
    padding-top: 20px;
    padding-left: 15px;
}
.consultation__righ .title-small {
    margin-bottom: 20px;
}
.info-consultation {
    margin-left: 0;
    margin-top: 20px;
}
.consultation {
    padding-bottom: 30px;
}
.contacts {
    background-color: #fff;
}
.contacts-block {
    padding: 30px 0;
}
.contacts-block__flex {
    margin-top: 12px;
}
#map {
    height: 240px;
    margin: 0 -15px;
    background-color: #ccc;
}
.footer {
    padding-top: 35px;
    padding-bottom: 10px;
}
.footer .logo {
    margin-bottom: 15px;
}
.footer__col {
    padding-left: 15px;
}
.footer__content {
    padding-top: 15px;
    display: none;
}
a.footer__title,
.footer__title {
    padding: 14px 0;
    font-size: 16px;
    border-bottom: 1px solid #000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__title i {
  font-size: 8px;
  display: inline-block;
  transition: all 0.3s;
}
.footer__title.active i {
  transform: rotate(180deg);
} 
.footer__contacts {
    font-size: 13px;
    margin-bottom: 10px;
}
.copyright {
    margin-bottom: 15px;
}
.contacts-block .phone-main {
    font-size: 16px;
}
.contacts-block__flex {
    max-width: 330px;
}
.contacts-block__flex .list-social {
   margin-left: 20px;
}
.tabs-services {
    display: flex;
    flex-direction: column;
}
.tabs-services li {
    display: none;
}
.tabs-services li.active {
    order: -1;
    display: block;
}
.btn-tab {
    height: 61px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #B1A27B;
}
.tabs-services-wrap {
    position: relative;
}
.top-title {
    margin-left: -15px;
}
.sidebar-services {
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
}
.tabs-services-wrap {
    order: 2;
}
.sidebar-services__bottom {
    padding: 20px 15px;
}
.sidebar-services .title-block {
    padding: 18px 15px;
    text-align: center;
}
.tabs-services-wrap {
    border-top: 1px #e1e1e1 solid;
}
.tabs-services a {
    height: 61px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 25px;
    display: flex;
    align-items: center;
}
.menu {
    display: block;
}
.menu > li {
    margin-right: 0;
}
.menu > li > a {
    padding: 19px 0px;
    font-size: 22px;
    line-height: 24px;
    border-bottom: 1px solid #3E3E3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-dropdown {
    position: relative;
    top: 0;
    left: 0;
}
.menu .modal-dropdown {
    visibility: visible;
    opacity: 1;
    display: none;
}
.modal-dropdown__right .title-small {
    display: none;
}
.subdropdown-menu {
    padding: 0 15px;
    font-size: 14px;
    padding-top: 20px;
    position: relative;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.subdropdown-menu, 
.modal-dropdown__right, 
.modal-dropdown__left, 
.modal-dropdown {
    height: auto;
}
.modal-parent {
    max-width: 100%;
    border: none;
}
.modal-dropdown__right {
    padding: 0;
}
.modal-parent__bottom {
    padding: 20px 15px;
}
.menu__haschild.active > a::after {
    transform: rotate(180deg);
}
.menu > li.active > a {
    color: #B1A27B;
}
.modal-list__haschild.active > a::after {
    transform: rotate(0deg);
}
.header-line.fixed,
.header-line {
    background-color: #1B2C41;
}
.header__wrap {
    display: none;
}
#callback.modal-dropdown {
    padding: 0px 10px;
    padding-bottom: 100px;
    height: 100vh;
    overflow: auto;
}

.title-small {
    font-size: 24px;
    line-height: 27px;
}
.modal-dropdown__right .title-small {
    padding-top: 10px;
    padding-bottom: 20px;
}
.col__callback {
    padding-bottom: 0;
}
.modal-dropdown__right .title-small {
    padding-left: 5px;
}
.modal-dropdown__right .btn-main {
    width: 100%;
}
.thanks-callback {
    padding-left: 0;
    padding-top: 0;
}
.image-slide {
    display: none;
}
.phone-mobile {
    display: inline-block;
}
.header .logo {
    margin-left: 26px;
    margin-right: auto;
}
.slider-billbord .slick-dots {
    bottom: 0;
}
.slider-billbord {
    padding-bottom: 35px;
}
.text-billbord {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 22px;
    padding-top: 20px;
}
.image-about {
    display: none;
}
.about {
    display: flex;
    flex-direction: column;
}
.about-numbers {
    order: -1;
}
.billbord-slider {
    padding-bottom: 26px;
}
.number-value {
    font-size: 80px;
    line-height: 80px;
    width: 140px;
    justify-content: flex-end;
}
.number-value span {
    font-size: 20px;
    line-height: 20px;
    transform-origin: 48% 60%;
}
.item-number {
    display: flex;
    align-items: center;
}
.item-number p {
    font-size: 14px;
    line-height: 18px;
    flex: 1;
    margin: 0 !important;
}
.about-numbers {
    padding: 35px 0;
}
.about .title-section {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 25px;
}
.title-section sup {
    font-size: 16px;
}
.hidden-mob {
    display: none;
}
.medium-mob {
    font-weight: 500;
}
.tabs-services-wrap {
    display: none;
}
.sidebar-services__bottom p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
}
.consultation__title {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}
.consultation__left {
    text-align: center;
}
.consultation__bottom {
    padding-right: 0;
}
.info-consultation {
    font-size: 14px;
    line-height: 18px;
}
.info-consultation__bottom {
    margin-left: -33px;
    font-size: 13px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-consultation__bottom .phone-main {
    margin: 0;
}
.contacts__right {
    order: -1;
}
.contacts-block__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
.contacts-block__time {
    font-size: 14px;
    line-height: 17px;
}
.contacts-block__line {
    margin-bottom: 20px;
}
.footer .logo img {
    max-width: 148px;
}
.footer .show-mob {
    padding-top: 32px;
}
.btn_top {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #dbcca4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-service {
    flex-direction: column;
}
.image-service {
    width: 169px;
    height: 169px;
    margin-bottom: 22px;
    order: -1;
}
.logo-service {
    width: 55px;
    height: 55px;
    padding: 7px;
}
.title-service {
    font-size: 25px;
    line-height: 25px;
}
.title-service br {
    display: none;
}
.info-service .btn-main {
    width: 100%;
}
.services__right {
    padding-bottom: 0px;
}
.slider-services {
   padding-bottom: 35px;
}
.services {
    padding-bottom: 0;
}
.tab-pane-services {
    display: block;
}
.mobile-tab {
    display: none;
}
.mobile-title-service {
    font-size: 16px;
    line-height: 18px;
    padding: 18px 0px;
    padding-right: 25px;
    color: #3E3E3E;
    border-bottom: 1px solid #E1E1E1;
    font-weight: 500;
    display: flex;
    position: relative;
}
.mobile-title-service::after {
    position: absolute;
    display: inline-block;
    content: " ";
    width: 7px;
    height: 5px;
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
    background-image: url(../img/arrow_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    background-size: 100% 100%;
}
.mobile-title-service span {
    font-size: 18px;
    color: #B1A27B;
    margin-right: 8px;
    font-weight: 400;
    font-family: 'Bebas Neue';
}
.services__right::before {
    display: none;
}
.sidebar-services {
    margin: 0;
    background-color: transparent;
}
.services {
    background-color: #f0f0f2;
}
.tab-pane-services.active {
    margin: 0 -15px;
    padding: 0 15px;
    background-color: #fff;
}
.tab-pane-services.active .mobile-title-service {
    color: #B1A27B;
    font-weight: 700;
    border-color: transparent;
}
.tab-pane-services.active .mobile-title-service::after {
    transform: rotate(180deg);
}
.mobile-tab {
    padding-bottom: 30px;
}
.services .sidebar-services__bottom {
    padding-bottom: 30px;
}
.col__callback {
    padding-left: 15px;
}
.title-small_close {
    font-size: 22px;
    line-height: 24px;
    padding: 20px 0 !important;
    margin-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
    display: flex !important;
    align-items: center;
}
.modal-dropdown .title-small img {
    margin-right: 19px;
    display: inline-block;
}
.modal-dropdown__close {
    display: none;
}
.thanks-callback {
    padding-top: 50px;
}
.modal-dropdown__right .title-small {
    display: block;
}
.modal-dropdown__right .title-small {
    font-size: 22px;
    line-height: 24px;
}
.menu-mobile {
    top: 100%;
    padding: 0 15px;
    left: 0;
    height: 100vh;
    overflow: auto;
    padding-bottom: 100px;
    display: block;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    display: none;
    position: absolute;
}
.header-line {
    position: relative;
}
.header {
    position: fixed;
    z-index: 1000;
}
.menu-mobile__bottom .contacts-header {
    display: flex;
    align-items: flex-end;
}
.menu-mobile__bottom .contacts-header .phone-main {
    margin-top: 7px;
    display: inline-block;
    margin-right: 28px;
}
.menu-mobile__bottom {
    padding: 30px 0px;
}
.menu-mobile .title-block {
    padding-bottom: 20px;
}
.menu-mobile__descr {
    font-size: 12px;
    line-height: 16px;
    padding-top: 22px;
    padding-bottom: 27px;
    font-weight: 500;
    color: #B5B5B5;
}
.menu-mobile__bottom .btn-main {
    padding: 0 32px;
    width: 100%;
    justify-content: space-between;
}
.menu-mobile__title {
    font-size: 22px;
    line-height: 24px;
    padding: 16px 0;
    font-weight: 500;
    border-bottom: 1px solid #E1E1E1;
}
.modal-list > li > a > span {
    font-size: 18px;
    margin-right: 8px;
}
.search-form {
    margin: 0 -15px;
    position: relative;
}
.search-form input {
    height: 50px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px;
    padding-right: 60px;
    color: #3E3E3E;
    border: none;
    background-color: #F1F1F1;
}
.button-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.menu__haschild > a::after {
    transform: rotate(-90deg);
}
.menu-dropdown {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    visibility: visible;
    opacity: 1;
    display: none;
}
.menu__haschild.active > a::after {
    transform: rotate(0deg);
}
.menu-dropdown::before {
    display: none;
}
.menu-dropdown li a {
    padding: 14px 0;
    border: none;
}
.menu-dropdown li a::after {
    display: none;
}
.btn-main::before {
    top: -1px;
    bottom: -1px;
    height: initial;
}
.header .top-title {
    display: none;
}
.title-page {
    padding-left: 0;
}
.breadcrumbs {
    padding-left: 0;
}
.title-page {
    font-size: 30px;
    line-height: 31px;
}
.services-page .title-page {
    padding-bottom: 42px;
}
.breadcrumbs {
    padding-top: 25px;
}
.services-page {
    background-image: none;
}
.row_serv > div {
    margin-bottom: 45px;
}
.service-top {
    display: block;
    background-position: right -160px bottom -250px;
    background-size: 445px auto;
}
.service-top .stars-about {
    display: none;
}
.service-top__image {
    height: 180px;
    width: 100%;
}
.service-top__left {
    width: 100%;
}
.service-top__right {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
}
.breadcrumbs {
    font-size: 11px;
}
.service-top .btn-main {
    width: 100%;
    margin-top: 30px;
}
.sidebar-about,
.sidebar-service {
    margin: 0 -15px;
    display: none;
    position: fixed;
    top: 104px;
    left: 0;
    height: calc(100vh - 90px);
    padding: 0 15px;
    width: 100%;
    overflow: auto;
    z-index: 80;
}
.service-content h3 {
    font-size: 18px;
    line-height: 23px;
}
.service-content {
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 45px;
}
.service-content blockquote {
    padding-left: 68px;
    padding-right: 40px;
}
.blockquote-info {
    left: 23px;
}
.blockquote-arrow {
    margin: 0;
    right: 22px;
    top: 35px;
}
.service-content .btn-main {
    margin-top: 15px;
    width: 100%;
}
.service-unit__title {
    font-size: 18px;
    line-height: 20px;
}
.service-unit__content {
    padding: 24px 30px;
}
.help-block__top {
    padding: 45px 42px;
    padding-bottom: 35px;
}
.help-block__title {
    font-size: 30px;
    line-height: 30px;
}
.help-block {
    background-size: 30px auto;
    background-position: right 30px top 34px
}
.help-block__btn {
    padding: 23px 42px;
}
.breadcrumbs {
    margin-right: -15px;
    overflow: auto;
    letter-spacing: 0.35em;
}
.breadcrumbs li::after {
    margin: 0 8px;
}
.breadcrumbs::-webkit-scrollbar {
    -webkit-appearance: none;
}
.breadcrumbs::-webkit-scrollbar:vertical {
    width: 0px;
}
.breadcrumbs::-webkit-scrollbar:horizontal {
    height: 0px;
}
.breadcrumbs::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
.breadcrumbs::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.btn-service {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding: 13px 30px;
    border-top: 1px solid #4D4D4D;
    margin: 0 -15px;
    letter-spacing: -0.01em;
    color: #B1A27B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2c41;
}
.sidebar-service__bottom, .sidebar-service__middle, .sidebar-service__top {
    padding: 25px 15px;
}
.btn-service.active {
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    z-index: 10;
}
.btn-service.active img {
    transform: rotate(180deg);
}
.sidebar-service__middle .item-number {
    margin-bottom: 10px;
}
.sidebar-service__middle .item-number:last-child {
    margin-bottom: 0;
}
.sidebar-service__bottom {
    padding-bottom: 40px;
}
.about-page .service-top__left {
    display: flex;
    flex-direction: column-reverse;
}
.sidebar-about {
    margin-left: 0;
    display: none;
}
.about-page .service-top__right {
    padding-bottom: 10px;
}
.slider-sertificats {
    margin-right: -15px;
    padding-top: 25px;
}
.item-sertificat {
    width: 130px;
    height: 181px;
    padding: 6px;
}
.sertificats {
    padding-top: 30px;
    padding-bottom: 35px;
}
.list-main {
    padding-left: 0;
}
.about-page .service-top__right p {
    margin-bottom: 15px;
}
.about-page .service-top {
    background-position: right -160px top 350px;
}
.sidebar-about {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
    background-color: #1b2c41;
    color: #D7D7D7;
}
.sidebar-about .sidebar-services__bottom p {
    color: #D7D7D7;
}
.nav-about a {
    font-size: 16px;
    line-height: 18px;
    padding: 22px 20px;
    color: #fff;
    border-bottom: 1px solid #35475C;
}
.sidebar-about .sidebar-services__bottom {
    padding-top: 38px;
}
.nav-about a span {
    font-size: 20px;
    line-height: 20px;
}
.nav-about a:hover, .nav-about .active a {
    background-color: transparent;
}
.sidebar-about .title-block {
    display: none;
}
.sidebar-about .link-page {
    color: #fff;
}
.sidebar-about .link-page img {
    filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(15);
}
.service-content::before {
    width: initial;
    right: -15px;
}
.clients-main .service-content {
    padding-top: 25px;
    padding-bottom: 40px;
    order: -1;
}
.title-simple {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 22px;
}
.item-client {
    display: block;
}
.item-client__image {
    height: 170px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
}
.item-client__title {
    margin-bottom: 8px;
}
.item-client__descr {
    margin-bottom: 8px;
}
.bottom-clients .btn-main {
    margin-top: 0;
}
.clients-main .sidebar-service {
    top: 0;
    left: 0;
    padding-top: 30px;
    width: initial;
    display: block;
    position: relative;
    height: initial;
}
.sticky-sidebar .sidebar-service__middle {
    top: 0;
    margin: 0 -15px;
    margin-bottom: 30px;
}
.contacts_page #map {
    height: 240px;
}
.contacts-block__descr {
    margin-bottom: 10px;
}
.sertificats-page .row_serv {
    margin-top: 10px;
}
.career-text {
    padding: 0;
    padding-bottom: 25px;
}
.vacancies {
    padding-top: 35px;
}
.vacancies .title-small {
    padding-top: 25px;
}
.item-vacancy .btn-main {
    margin-top: 15px;
    position: relative;
    bottom: 0;
}
.item-vacancy {
    padding: 25px 0;
}
.item-vacancy ul {
    padding-bottom: 0;
}
.article-block {
    padding: 20px;
    padding-bottom: 30px;
}
.article-block .title-page {
    margin-bottom: 25px;
}
.image-article {
    margin-top: 0;
    margin-bottom: 25px;
    }   
.article-block form {
    padding-right: 0;
}
.article-block .title-small {
    margin-bottom: 10px;
}
.article {
    padding-bottom: 40px;
}
.slider-recomendation {
    padding-top: 25px;
    padding-bottom: 35px;
    }
    .slider-recomendation .service-unit {
        width: 300px;
        margin: 0 7px;
    }
    .slider-recomendation {
        margin: 0 -7px;
        margin-right: -15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .image-slide {
        height: 170px;
    }
    .title-big {
        font-size: 35px;
        line-height: 43px;
    }
    .content-slide {
       padding-top: 25px;
   }
   .title-section {
    font-size: 38px;
    line-height: 40px;
}
.about p {
    margin-bottom: 15px;
}
.bottom-about {
    padding-top: 15px;
    margin-top: 23px;
}
.image-about {
   margin-left: 0;
   margin-bottom: 0;
}

.image-about::before {
    margin-top: -80px;
}
.info-service {
   padding-right: 0;
}
.tab-container-services hr {
   margin-top: 30px;
}
.slider-billbord .slick-dots {
   padding-left: 0;
   text-align: center;
}
.page-arrow::after, .page-arrow::before {
    display: none;
}
.page-number {
    margin: 0 4px;
}
.page-arrow_prev {
    margin-right: 10px;
}
.page-arrow_next {
    margin-left: 10px;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .title-big {
    font-size: 30px;
    line-height: 35px;
}
.image-about {
    height: 440px;
}
.image-about__title {
    font-size: 17px;
    left: 20px;
}
.image-about::before {
    width: 12px;
    height: 130px;
    left: 59px;
    margin-top: -55px;
}
.stars-about {
    font-size: 14px;
    line-height: 19px;
    margin-top: 16px;
    left: 110px;
    max-width: 245px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sidebar-about,
    .sidebar-service,
    .tabs-services li,
    .footer__content {
       display: block !important;
   }
   .menu__haschild:hover > a::after {
    transform: rotate(180deg);
}
.menu {
    display: flex !important;
}
.menu-mobile,
.show-mob {
    display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1330px) {
	.container {
		max-width: 1320px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1320px;
	}
}